<a href="https://colab.research.google.com/github/dacuencas/MUJERES_DIGITALES/blob/main/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

---
Para manejar un código limpio en python se puede seguir las siguientes recomendaciones:
1.manejar siempre minuscula
2.Se les puede añadir números
3.Aparecerá error si no están seguidos la declaración de la variable con el número asignado. Ejemplo ana1(correcto) ana 1 (incorrecto-error)
En python hay varios tipos de datos compuestos y están disponibles por defecto en los intérpretes.
**¿De que tipos?**
1.Númericos
2.Secuencias
3.Mapeos
4.Conjuntos usados para agrupar otros valores.

**Diferencia entre constantes y variables**
En matemáticas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: Contabilidad: Gastos Fijos_Muebles  de oficina
Ejemplo 2:6
Por otro lado, el concepto de variable, como la cantidad es susceptible a tomar distintos valores númericos
EJEMPLO:

In [2]:
x=5
print(x)

5

**Tipos de datos**

---
**Enteros:**
Son los números que no tienen decimales, pueden ser tanto positivos como negativos.

In [3]:
a=int(3)
print(a)

3

In [4]:
a=int(3.964)
print(a)

3

El comando int es para hacer alusión a números enteros. Mientras que el comando float permite valores con decímales.

In [5]:
b=float(8.23)
print(b)

8.23

**Tipo Cadena**

-----
Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de diferentes caracteres (númericos, albéticos, especiales #$+*%).
Tener en cuenta, las cadenas admiten operadores como la suma y la resta.(Variable string)

In [8]:
val1="Luisa"
print(val1)
val2="Hola Mundo"
print(val2)

Luisa
Hola Mundo

In [10]:
n="Aprender"
z="Python"
w="Aprender Python"
print(w)

Aprender Python

In [11]:
q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

3

**Tipo Booleanos:**
Esté tipo de variable solo tendra un valor de falso o verdaderso **NOTA** son muy usados en condiciones y blucles.

In [13]:
lola=True
print("El valor es verdadero:",lola,",el cual es de tipo", type(lola))

El valor es verdadero: True ,el cual es de tipo <class 'bool'>

Python cuent con tipos de datos que admiten colecciones:
1.Listas
2.Tuplas
3.Diccionarios
**Tipo de Conjuntos:**Son una colección de datos sin elementos que repiten.

In [14]:
fru='pera','manzana','naranja'
color='morado','blanco','azul'
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo de Listas**
Son listas las que almacenan vectores.
-Las listas empiezan a nombrarse desde el elemento cero. 
-Ejemplos de las listas en Python:

In [16]:
ines=['5','uva','lila','perro']
print(ines)
fe=ines[0:3:2]
print(fe)

['5', 'uva', 'lila', 'perro']
['5', 'lila']

In [17]:
ines=['5','uva','lila','perro','celular','micro','botella','tetero','10']
print(ines)
fe=ines[0:6]
print(fe)

['5', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero', '10']
['5', 'uva', 'lila', 'perro', 'celular', 'micro']

**Tipo Tuplas**
---
Es una lista que no se puede modificar después de la creación de esta:
Tuplas Anidadas:Agrupación(Tuplas).

In [18]:
tupla=23,28,'hello'
print(tupla)

(23, 28, 'hello')

**Tipo Diccionarios**
---
Define los datos uno a uno entre un campo(ID - Identificador-Clave)y un valor:

In [25]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "cedula":"1032454231",
    "est_civil":"Viuda",
    "lugar_nacimiento":"Bogota",
    "fecha_nacimiento":"24/12/2020",
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("cedula de ciudadanía:", datos_b['cedula'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '1032454231', 'Viuda', 'Bogota', '24/12/2020'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'Perea'), ('cedula', '1032454231'), ('est_civil', 'Viuda'), ('lugar_nacimiento', 'Bogota'), ('fecha_nacimiento', '24/12/2020')])
cedula de ciudadanía: 1032454231

**Ejemplo práctico(caracteristicas de carros):**

In [24]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='chevrolet'
carros_0['precio']=37

carros_1={}
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='mazda'
carros_1['precio']=60
print(carros_0)
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1
print("La compra total fue de:", compratotal)

{'tam': 'grande', 'color': 'negro', 'marca': 'chevrolet', 'precio': 37}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'mazda', 'precio': 60}
La compra total fue de: 97